In [1]:
import hvplot.pandas
import pandas as pd
import os
import csv

In [2]:
# Create path and read csv file

batting_path = ("Resource/Batting.csv")
batting_df = pd.read_csv(batting_path)

In [3]:
# Display original DF

batting_df

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102811,zimmejo02,2016,1,DET,AL,19,4,0,1,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,1.0,0.0,0.0
102812,zimmery01,2016,1,WAS,NL,115,427,60,93,18,...,46.0,4.0,1.0,29,104.0,1.0,5.0,0.0,6.0,12.0
102813,zobribe01,2016,1,CHN,NL,147,523,94,142,31,...,76.0,6.0,4.0,96,82.0,6.0,4.0,4.0,4.0,17.0
102814,zuninmi01,2016,1,SEA,AL,55,164,16,34,7,...,31.0,0.0,0.0,21,65.0,0.0,6.0,0.0,1.0,0.0
102815,zychto01,2016,1,SEA,AL,12,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# Identify columns and reduce to batting specific

batting_df.columns

batting_df_reduced = batting_df[["playerID", "yearID", "teamID", "G", "AB", "R", "H", "2B", "3B", "HR"]]

In [5]:
#Display reduced DF

batting_df_reduced

         playerID  yearID teamID    G   AB   R    H  2B  3B  HR
0       abercda01    1871    TRO    1    4   0    0   0   0   0
1        addybo01    1871    RC1   25  118  30   32   6   0   0
2       allisar01    1871    CL1   29  137  28   40   4   5   0
3       allisdo01    1871    WS3   27  133  28   44  10   2   2
4       ansonca01    1871    RC1   25  120  29   39  11   3   0
...           ...     ...    ...  ...  ...  ..  ...  ..  ..  ..
102811  zimmejo02    2016    DET   19    4   0    1   0   0   0
102812  zimmery01    2016    WAS  115  427  60   93  18   1  15
102813  zobribe01    2016    CHN  147  523  94  142  31   3  18
102814  zuninmi01    2016    SEA   55  164  16   34   7   0  12
102815   zychto01    2016    SEA   12    0   0    0   0   0   0

[102816 rows x 10 columns]

In [20]:
# Split DF into pre Moneyball and Post Moneyball eras

batting_pre_mb_df = batting_df_reduced[(batting_df_reduced["yearID"]>1984) & (batting_df_reduced["yearID"]<2002)]
batting_post_mb_df = batting_df_reduced[batting_df_reduced["yearID"]>2001]

In [7]:
# Leave out rows before 1985

batting_df_current = batting_df_reduced[batting_df_reduced["yearID"]>1984]

batting_df_current

         playerID  yearID teamID    G   AB   R    H  2B  3B  HR
62239    aasedo01    1985    BAL   54    0   0    0   0   0   0
62240   abregjo01    1985    CHN    6    9   0    0   0   0   0
62241   ackerji01    1985    TOR   61    0   0    0   0   0   0
62242   adamsri02    1985    SFN   54  121  12   23   3   1   2
62243   agostju01    1985    CHA   54    0   0    0   0   0   0
...           ...     ...    ...  ...  ...  ..  ...  ..  ..  ..
102811  zimmejo02    2016    DET   19    4   0    1   0   0   0
102812  zimmery01    2016    WAS  115  427  60   93  18   1  15
102813  zobribe01    2016    CHN  147  523  94  142  31   3  18
102814  zuninmi01    2016    SEA   55  164  16   34   7   0  12
102815   zychto01    2016    SEA   12    0   0    0   0   0   0

[40577 rows x 10 columns]

In [8]:
# Print amount of Teams

len(batting_df_current["teamID"].unique())

35

In [9]:
#Group DF by Team and find sum of total amount of hits per year.

team_hits_year = batting_df_current.groupby(["teamID", "yearID"])["H"].sum()
team_hits_year_df = team_hits_year.reset_index()

team_hits_sorted_df = team_hits_year_df.sort_values(by="yearID", ascending=True)

team_hits_sorted_df

    teamID  yearID     H
231    CLE    1985  1465
515    MON    1985  1342
338    HOU    1985  1457
27     ATL    1985  1359
695    SDN    1985  1405
..     ...     ...   ...
566    NYA    2016  1378
26     ARI    2016  1479
262    CLE    2016  1435
758    SEA    2016  1446
917    WAS    2016  1403

[918 rows x 3 columns]

In [10]:
# Use groupby to isoltate Home Runs

team_hr_year = batting_df_current.groupby(["teamID", "yearID"])["HR"].sum().reset_index()
team_hr_sorted_df = team_hr_year.sort_values(by="yearID", ascending=True)

In [18]:
# Use groupby to isolate hits in pre and post Moneyball eras

team_hits_pre_mb = batting_pre_mb_df.groupby(["teamID", "yearID"])["H"].sum()
team_hits_pre_mb = pd.DataFrame(team_hits_pre_mb).reset_index()
team_hits_post_mb = batting_post_mb_df.groupby(["teamID", "yearID"])["H"].sum()
team_hits_post_mb = pd.DataFrame(team_hits_post_mb).reset_index()

In [17]:
# View Dataframe

team_hits_pre_mb

    teamID  yearID     H
0      ANA    1997  1531
1      ANA    1998  1530
2      ANA    1999  1404
3      ANA    2000  1574
4      ANA    2001  1447
..     ...     ...   ...
463    TOR    1997  1333
464    TOR    1998  1482
465    TOR    1999  1580
466    TOR    2000  1562
467    TOR    2001  1489

[468 rows x 3 columns]

In [19]:
# Write CSV files to Output folder

team_hits_sorted_df.to_csv("Output/team_hits_year.csv",index=False,header=True)
team_hits_pre_mb.to_csv("Output/team_hits_pre_mb.csv",index=False, header=True)
team_hits_post_mb.to_csv("Output/team_hits_post_mb.csv",index=False, header=True)

In [14]:
team_hr_sorted_df.to_csv("Output/team_hr_year.csv",index=False, header=True)

In [15]:
pd.DataFrame(team_hits_pre_mb).reset_index()

    teamID  yearID     H
0      ANA    1997  1531
1      ANA    1998  1530
2      ANA    1999  1404
3      ANA    2000  1574
4      ANA    2001  1447
..     ...     ...   ...
463    TOR    1997  1333
464    TOR    1998  1482
465    TOR    1999  1580
466    TOR    2000  1562
467    TOR    2001  1489

[468 rows x 3 columns]